body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background: url('img/inicio.jpg') no-repeat center center fixed;*/
    background-color: beige;
    background-size: cover;
}

header {
    background-color: #dd8521e0;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #8c959e;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #8c959e;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #8c959e;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Carrossel de Imagens */

.carousel {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    z-index: 1000;
}

.carousel-button.prev {
    left: 10px;
    transform: translateY(-50%);
}

.carousel-button.next {
    right: 10px;
    transform: translateY(-50%);
}
